<launch>

  <arg name="nb_robots" default="1"/>
  
  <arg name="tb3_1_x0" default="0.0"/>
  <arg name="tb3_1_y0" default="0.0"/>
  <arg name="tb3_1_theta0" default="0.0"/>

  <arg name="rviz_gui" default="True"/>



<group ns = "tb3_1">
  <include file="$(find setcmas_simu)/launch/virtual_robot.launch">
    <arg name="tb3_robot_no" value="1" />
    <arg name="tb3_x0" value="$(arg tb3_1_x0)" />
    <arg name="tb3_y0" value="$(arg tb3_1_y0)" />
    <arg name="tb3_theta0" value="$(arg tb3_1_theta0)" />
    <arg name="tb3_child_frame_id" value="tb3_1" />
  </include>
</group>


<group if="$(eval arg('rviz_gui')==True)">
	 <node pkg="rviz" type="rviz" name="visu_rviz" args="-d $(find setcmas_simu)/rviz/setcmas_virtual_robots.rviz"/>
</group> 

</launch>
